/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
#footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 70px;
background-color: #555555;
    
}

/* Custom Styles*/

 /*.signOnContainer {
max-width: 474px;
padding: 0px 29px 0px 29px;
margin: 0 auto;
display: inline-block;
background-color: #bbb;
border: 1px solid #fff;
margin-bottom: 40px;
 }*/
     
/*input.alert-error {
	color: #b94a48;
background-color: #f2dede;
}*/

/*Heidi - custom styles*/
 /* nav bar*/
body {
font-family: Century Gothic, sans-serif;
color: #4d4d4d;
}
.row {
background: -webkit-linear-gradient(left, #552f6a, #75429a)!important;/* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(left, #552f6a, #75429a)!important;/* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(left, #552f6a, #75429a)!important;/* For Firefox 3.6 to 15 */
background: linear-gradient(left, #552f6a, #75429a)!important;/* Standard syntax */   
height: 100px !important;
margin-left: 0 !important;
margin-right: 0 !important;
}
.col-md-12 {
width: 90%;
height: 100px;
background: url(../images/NYULangone-logo.png) no-repeat right center transparent;
background-position: top 18px right 18%;
margin-left: auto;
margin-right: auto;
}
h1{
font-family: Century Gothic, sans-serif;
font-size: 30px !important;
font-weight: normal;
color: #fff !important;
margin-left: 15%;
float: left;
padding-top: 12px;
}
.col-md-12 img {
display: none !important;   
}
.navbar {
display: none;   
}
.panel {
background-color: #fff;
border: none;
box-shadow: none;
}
.panel-heading {
background-color: #fff !important;
border: none !important;
margin-left: auto !important;
margin-right: auto !important;
}
.panel-heading + div {
width: 90%;
margin-left: auto;
margin-right: auto;
}
.panel-body {
color: #800080;
font-size: 17px;
font-weight: normal;
font-family: Century Gothic, sans-serif;
margin-left: 10%;
margin-right: 5%;
}
h2.panel-title {
font-size: 21px;
font-weight: normal;
font-family: Century Gothic, sans-serif;
color: #48186d;
margin-left: 5%;
} 
form#user.form-signin {
max-width: 600px !important;
margin-left: auto;
margin-right: auto;
border: none !important;
}
form#user.form-signin div {
max-width: 600px !important;
border: 1px solid #D1D1D1;
margin-left: auto;
margin-right: auto;
}
.form-group {
max-width: 600px !important;
margin-left: auto;
margin-right: auto;
border: none !important;
background-color: #fff !important;
margin-bottom: 50px !important;
margin-top: 30px;
}
.form-group .row {
background: none !important;  
border: none !important;
height: 40px !important;
}
.row .col-xs-4, .row .col-xs-3 {
border: none !important;    
}
.row .col-xs-4 {
padding-left: 0px !important;    
}
input[type="checkbox"] {
margin: 50px 10px 0px;
}
.signOnContainer {
width: 60%;
margin-left: auto;
margin-right: auto;
background-color: #fff;
border: none;
border-bottom: 60px solid rgb(255, 255, 255) !important;
margin-top: 25px !important;
}
.signOnContainer p{
font-size: 16px !important;
margin-left: 2% !important;
margin-right: 0px;
}
.btn-primary {
background-color: #157aaf !important;
border: medium none;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
border-radius: 2px;
color: #FFFFFF;
float: right;
font-family: Century Gothic, sans-serif;
font-size: 16px;
height: 43px;
cursor: pointer;
float: left !important;
left: 0;
} 
.form-group {
margin-top: 30px;   
}
address {
display: block;
margin-top: 20px;
font-style: normal;
line-height: 1.42857;
color: #fff;
float: left;
}
/* account request*/
input#EmailRequired1 {
margin: 5px 20px 0px 0px;
}
.form-group .checkbox {
border: none !important;    
}
/* iPads*/
@media (max-width: 1024px)and (min-width: 768px){
body {
background-color: #fff !important;
}
.col-md-12 {
width: 100%;
height: 100px;
background: url(../images/NYULangone-logo.png) no-repeat right center transparent;
background-position: top 18px right 10%;
margin-left: auto;
margin-right: auto;
}
.container {
width: 100% !important;   
}
.signOnContainer {
width: 80% !important;
margin-left: auto;
margin-right: auto;
background-color: #fff;
border: none;
border-bottom: 60px solid rgb(255, 255, 255) !important;
}
form#user.form-signin div {
max-width: 100% !important;
}
h1 {
font-size: 20px;
margin-left: 8%;
padding-top: 12px;
}
h2.panel-title {
margin-left: 0px !important;
}
.signOnContainer p{
font-size: 16px !important;
margin-left: 0px !important;
padding-left: 0px !important;
}
.panel-heading {
padding-left: 0px !important;   
}
.panel-body{
padding-left: 0px;
margin-left: 0px;
}
address {
color: #fff;
float: left !important;
}
.hidden-xs {
display: block !important;   
}
}

/* iphone 4*/
@media (max-width: 480px)and(min-width: 320px){
body {
background-color: #fff !important;
}
.col-md-12 {
width: 100%;
height: 100px;
background: none !important;
margin-left: auto;
margin-right: auto;
}
h1 {
font-size: 18px !important;
margin-left: 8% !important;
padding-top: 18px!important;
}
.container {
width: 100% !important;   
}
address {
color: #fff;
text-align: center;
font-size: 14px;
word-wrap: break-word;
}
.panel-heading {
margin-left: 0px !important;
padding-left: 0px !important;    
}
.panel + p {
margin: 0px !important;
padding-left: 0px !important;    
}     
.panel-title {
margin-bottom: 15px !important; 
text-align: center;
}
h2.panel-title {
font-size: 18px !important; 
margin-left: 0px !important;
}
.panel-body {
font-size: 14px !important;
margin-left: 0px !important;
padding-left: 0px !important;
}
.signOnContainer p{
font-size: 16px !important;    
}
.signOnContainer {
width: 100% !important;   
}
form#user.form-signin div {
max-width: 100% !important;
}
.form-control {
font-size: 8px;   
}
.hidden-xs {
display: block !important;   
}
}
/* iphone 6 plus*/
@media (max-width: 768px)and (min-width: 414px) { 
body {
background-color: #fff !important;
}
.col-md-12 {
width: 100%;
height: 100px;
background: none !important;
margin-left: auto;
margin-right: auto;
}
h1 {
font-size: 20px !important;
margin-left: 8% !important;
padding-top: 18px!important;
}
.container {
width: 100% !important;   
}
address {
color: #fff;
margin-left: auto !important;
margin-right: auto !important;
font-size: 14px;
word-wrap: break-word;
}
.panel-heading {
margin-left: 0px !important;
padding-left: 0px !important;    
}
.panel-title {
margin-bottom: 15px !important; 
margin-left: 5% !important;
padding-left: 0px !important;
}
h2.panel-title {
font-size: 18px !important;
margin-left: 5% !important;
}
.panel-body {
font-size: 14px !important;
margin-left: 5% !important;
padding-left: 0px !important;
}
.signOnContainer p{
font-size: 16px !important;
margin-left: 0px;
margin-right: 0px;
}
.signOnContainer {
width: 100% !important;   
}
form#user.form-signin div {
max-width: 100% !important;
}
.form-control {
font-size: 8px;   
}
.hidden-xs {
display: block !important;   
}
}
/* iphone 6*/
@media (max-width: 667px) and (min-width: 375px) { 
body {
background-color: #fff !important;
}
.col-md-12 {
width: 100%;
height: 100px;
background: none !important;
margin-left: auto;
margin-right: auto;
}
h1 {
font-size: 18px !important;
margin-left: 8% !important;
padding-top: 18px!important;
}
.container {
width: 100% !important;   
}
address {
color: #fff;
text-align: center;
font-size: 14px;
word-wrap: break-word;
}
.panel-heading {
margin-left: 0px !important;
padding-left: 0px !important;    
}
.panel-title {
margin-bottom: 15px !important; 
}
h2.panel-title {
font-size: 18px !important;
margin-left: 0px !important;
}
.panel-body {
font-size: 14px !important;
margin-left: 0px !important;
padding-left: 0px !important;
}
.signOnContainer p{
font-size: 16px !important;
margin-left: 0px;
margin-right: 0px;
}
.signOnContainer {
width: 100% !important;   
}
form#user.form-signin div {
max-width: 100% !important;
}
.form-control {
font-size: 8px;   
}
.hidden-xs {
display: block !important;   
}
}
/* iphone 5*/
@media (max-width:568px) and (min-width: 320px) {
body {
background-color: #fff !important;
}
.col-md-12 {
width: 100%;
height: 100px;
background: none !important;
margin-left: auto;
margin-right: auto;
}
h1 {
font-size: 18px !important;
margin-left: 8% !important;
padding-top: 18px!important;
}
.container {
width: 100% !important;   
}
address {
color: #fff;
text-align: center !important;
font-size: 14px;
word-wrap: break-word;
}
.panel-heading {
margin-left: 0px !important;
padding-left: 0px !important;    
}
.panel-title {
margin-bottom: 15px !important; 
}
h2.panel-title {
font-size: 18px !important;
margin-left: 0px !important;
padding-left: 0px !important;
}
.panel-body {
font-size: 14px !important;
margin-left: 0px !important;
padding-left: 0px !important;
}
.panel p {
margin: 0px !important;
padding-left: 0px !important;    
} 
.signOnContainer p{
font-size: 16px !important;
margin-left: 0px;
margin-right: 0px;
}
.signOnContainer {
width: 100% !important;   
}
form#user.form-signin div {
max-width: 100% !important;
}
.hidden-xs {
display: block !important;   
}
.form-control {
font-size: 8px;   
}
}

      
/*  #footer .container {margin-left:0px; margin-right: inherit;}
div.footer ul li img { width: inherit; height: inherit; max-width: inherit;}*/

/* 3.3        Footer
-----------------------------------------------------------------------------------------------*/    
/*div.footer-wrap { border-top: 1px solid #D9E0BF; }
div.footer { padding: 10px 0 10px 40px; position: relative; }

div.footer address { color: #bbb; font-size: 0.8em; line-height: 1.4em; font-style: normal; margin-bottom:11px; }
div.footer address span { display:block; }
div.footer ul { width:275px; }
div.footer ul li { color: black; font-size: 0.8em; line-height:1.3em;}
div.footer li a { color: black; text-decoration: none; line-height:0.8em; }
div.footer copyright { float: nonet; }
*/
