<div version="2.0" xmlns:spring="http://www.springframework.org/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:c="http://java.sun.com/jsp/jstl/core" class="signOnContainer">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<br />
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<spring:message code="registrationComplete_title" htmlEscape="false"></spring:message>
			</h2>
		</div>
		<div class="panel-body">
			<spring:message code="registrationComplete_message" htmlEscape="false"></spring:message>
			<br /> Your NYU Langone Health username is:  <strong>${user.userName }</strong><br /> <br />
			<br /><font color="red">Next Steps: </font> Let’s get started bringing you onboard to the Family Health Centers at NYU Langone Health! Please access your customized onboarding tour by clicking on  <a href="https://nyulangone-redcarpet.silkroad.com/eprise/system/JSAuth/AttemptSSOLogin.html?referer=https://nyulangone-redcarpet.silkroad.com:443/eprise/main/SiteGen/FHC/Content/Home.html"> this link </a>using the username above, and the password created during the activation step. Here you will complete all your required new-employee documents, and be further introduced to the Family Health Centers, and learn more about our programs and perks.<br />
			
		<!-- 	Please check your email for Account Activation confirmation and additional important details. -->
		<!--  <br /> -->	
		<!--  <br /> -->
		  <br />
          If at any point you have questions or need assistance, please contact your Talent Acquisition Assistant or Specialist.   <br /> 
          <br />
          Again, congratulations on your new opportunity and welcome to NYU Langone Health!
		</div>
	</div>
	<br />



	<!-- /Messages -->
	<div class="hidden-phone">
		<div id="rightLinks">
			<ul class="unstyled">

			</ul>
		</div>
		<!-- 						<jsp:include page="umrightlinks.jspx"/> -->
	</div>


</div>



