<div xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
	xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0"
	class="signOnContainer">
	<jsp:directive.page contentType="text/html;charset=UTF-8"
		session="true" />
	<jsp:output omit-xml-declaration="yes" />
	<jsp:scriptlet> session.invalidate(); </jsp:scriptlet>
	<spring:message var="title" code="changeSuccess_title"
		htmlEscape="false" />
	<util:panel id="title" title="${title}">
		<h2>${fn:escapeXml(title)}</h2>
		<p>
			<spring:message code="changeSuccess_message" />
		</p>

	</util:panel>

	<a href="manageaccount">
		<button type="submit" class="btn btn-large btn-primary">Back
			to menu</button>
	</a>
</div>

