<div version="2.0" xmlns:spring="http://www.springframework.org/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:bs="urn:jsptagdir:/WEB-INF/tags/bootstrap"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:c="http://java.sun.com/jsp/jstl/core" class="signOnContainer">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<br />
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				Enter your New Password
			</h2>
		</div>
		<div class=“password-info”>
<p>
Choose something meaningful to you that would be difficult for others to guess.
</p>		
<p>
Passwords must contain at least eight (8) characters and satisfy at least three of the following four criteria:
<ol>
<li> 	Lowercase letters (a – z) </li>
<li> 	Uppercase letters (A – Z) </li>
<li> 	Numbers (0 – 9) </li>
<li> 	Special characters (#@$!*) </li>
</ol>
<br/>
<p>
Passwords may not contain more than two consecutive letters of your name/username.
</p>
<p>
Remember: Your password is case sensitive. When using it, you must enter the password exactly as created.
</p>
<p>
Your NYULH password is powerful - it allows you to access your computer, email and other NYU Langone Health applications.
Keeping your password secret is one of the most important things you can do to keep critical information safe;
do not write down your password anywhere or share it with anyone. Do not choose a password that you use with any other account. 
</p>
</p>
		</div>
	</div>
	
	<bs:allerrors model="userSelfService" />

	<!-- /Messages -->
	<div class="hidden-phone">
		<!-- 						<jsp:include page="umrightlinks.jspx"/> -->
	</div>


	<form:form class="form-signin" method="POST"
		commandName="userSelfService" AUTOCOMPLETE="false">
		<input type="hidden" name="_flowExecutionKey"
			value="${flowExecutionKey}" />

		<bs:password path="newPassword" label="New Password:" />
		<bs:password path="confirmPassword" label="Confirm Password:" />

		<div class="form-group">
			<button type="submit" class="btn btn-large btn-primary"
				id="newPasswordEntered" name="_eventId_newPasswordEntered"
				value="Continue">Continue</button>
		</div>
	</form:form>

</div>
