<!DOCTYPE html>
<html>
<head th:replace="template :: head">
<title>Match Review Manager</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Using CDN version so they render in Eclipse Preview will be replaced with webjar version when executed -->
<!-- CSS-->
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet" />
	   <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}"  href="../css/styles.css" />
<link
	href="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css"
	rel="stylesheet" />
<!-- Bootstrap core JavaScript
    ================================================== -->

<script src="http://code.jquery.com/jquery-1.9.1.min.js">
<!--Placeholder-->
	
</script>
<script
	src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js">
<!--Placeholder-->
	
</script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">
<!--Placeholder-->
	
</script>

<script
	src="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js">
<!--Placeholder-->
	
</script>

</head>
<body>
	<div th:replace="template :: pageheader" class="row">


			 <div class="MainArea" >
  <div class="header-container" >
      <header class="wrapper clearfix"> <span id="PageTitleLabel"  style="margin-left: 100px"><img alt="Florida Atlantic University" th:src="@{/images/faulogo.png}" src="../images/faulogo.png" class="logo" /></span> </header>
    </div>
  </div>
	</div>

	<div th:replace="template :: navbar" class="navbar navbar-inverse "
		role="navigation">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">


						<li class="active"><a href="#">Welcome</a></li>
						<li class="active"><a href="/logoffPage">Logout</a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="table-responsive"
			th:unless="${#lists.isEmpty(pendingMatches)}">

			<table id="results" class="table  table-hover table-bordered">
				<thead>
					<tr class="&lt;th">
						<th>Match ID</th>
						<th>Source</th>
						<th>Source ID</th>
						<th>Possible Matches</th>
						<th>Match Status</th>
						<th>Match Entity ID</th>
						<th>Event #</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pm : ${pendingMatches}">
						<td th:text="${pm.matchid}">555</td>
						<td th:text="${pm.srcresobject}">HR System</td>
						<td th:text="${pm.sourceid}">12345678</td>
						<td th:text="${pm.candidates.size()}">3</td>
						<td th:text="${pm.matchstatus}">REVIEW</td>
						<td th:text="${pm.matchedentityid}">274</td>
						<td th:text="${pm.reKey}">274</td>
						<td><button>Review</button></td>
					</tr>
				</tbody>
			</table>


		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			var table = $('#results').dataTable({

			});

			$('#results tbody').on('click', 'button', function() {
				var name =$(this).closest('tr').find("td:nth-child(1)");
				
				window.location = '/MatchResolutionManager/reviewMatchResult/' + name.text();
			});
		});
		/*	]]>  */
	</script>
</body>
</html>