<!DOCTYPE html>
<html>
<head th:fragment="head">	
		<title>Account Management System</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>

		<!-- CSS-->
<!-- 		  <link href="/webjars/bootstrap/3.3.2-1/css/bootstrap.css" rel="stylesheet"/>
 -->		      
 				<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}"  href="../css/styles.css"/>
		      <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.2/css/bootstrap.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css" />
		  
		  <link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet"/>  
			 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
      th:src="@{/webjars/jquery/1.9.1/jquery.js}"></script>
 
 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.5/js/jquery.dataTables.min.js"  th:src="@{/webjars/datatables/1.10.5/js/jquery.dataTables.min.js}"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
	<script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
		
	</head>
<body>

<div th:fragment="pageheader" class="row">

	
		 <div class="MainArea" >
    <div class="header-container" >
      <header class="wrapper clearfix"> <span id="PageTitleLabel"  style="margin-left: 100px"><img alt="Florida Atlantic University" th:src="@{/images/faulogo.png}" src="../images/faulogo.png" class="logo" /></span> </header>
    </div>
   
  </div>
</div>

<div  th:fragment="navbar" class="navbar navbar-inverse " role="navigation">
			  
				<div class="container">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						    <span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
							
							
							<li class="active"><a href="/MatchResolutionManager">Home</a></li>
							
						    <li class="active"><a href="/MatchResolutionManager/j_spring_security_logout" th:href="@{/j_spring_security_logout}">Logout</a></li>
							
								<li th:if="${securityrole} == 'ROLE_ADMIN'" class="active"><a href="/MatchResolutionManager/users">Administration</a></li>	
							
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			
			<div id="candidate-content" th:fragment="candidateMatch">
				<table class="table">
					<thead>
						<tr>
						<th>Field Name</th>
						<th>Source Value</th>
						<th>Candidate Value</th>
						
						</tr>
					</thead>
					<tbody>
						<tr th:each="pair : ${comparison.matchPairs}">
						<td th:text="${pair.fieldName}">First Name</td>
						<td th:text="${pair.sourceValue}">Robert</td>
						<td th:text="${pair.candidateValue}">Bobby</td>
						</tr>
					</tbody>
				
				</table>
				<div th:if="${partialmatch.matchstatus} =='REVIEW'">
				
				
				
				<form action="/MatchResolutionManager/submit" method="POST">
				<select name="Action">
    <option value="Create New User">Create New User</option>
    <option value="Merge User">Merge User</option>
</select>

					<input type="hidden" name="matchID" th:value="${comparison.matchID}"/>
					<input type="hidden" name="candidateID" th:value="${comparison.candidateID}"/>
						<input type="hidden" name="candidateEntityId" th:value="${comparison.candidateEntityId}"/>
					<button class="btn btn-default" id="submit" type="submit">Submit</button>
				
				</form>
			
			</div>
			</div>
			
			
</body>
</html>