<!DOCTYPE html>
<html>
<head th:replace="template :: head">
<title>User Administration</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Using CDN version so they render in Eclipse Preview will be replaced with webjar version when executed -->
<!-- CSS-->
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet" />
	   <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}"  href="../css/styles.css" />
<link
	href="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css"
	rel="stylesheet" />
<!-- Bootstrap core JavaScript
    ================================================== -->

<script src="http://code.jquery.com/jquery-1.9.1.min.js">
<!--Placeholder-->
	
</script>
<script
	src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js">
<!--Placeholder-->
	
</script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">
<!--Placeholder-->
	
</script>

<script
	src="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js">
<!--Placeholder-->
	
</script>

</head>
<body>
	<div th:replace="template :: pageheader" class="row">


			 <div class="MainArea" >
  <div class="header-container" >
      <header class="wrapper clearfix"> <span id="PageTitleLabel"  style="margin-left: 100px"><img alt="Florida Atlantic University" th:src="@{/images/faulogo.png}" src="../images/faulogo.png" class="logo" /></span> </header>
    </div>
  </div>
	</div>

	<div th:replace="template :: navbar" class="navbar navbar-inverse "
		role="navigation">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">


						<li class="active"><a href="#">Welcome</a></li>
						<li class="active"><a href="/logoffPage">Logout</a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<form action="#" data-th-action="@{/user/edit}" data-th-object="${userDTO}" method="post">
	<table class="box-table-a">
		<caption th-text="#">Edit User</caption>
		<tbody>
			<tr>
				<td>UserID</td>
				<td>
				    <input type="text" data-th-value="*{userId}" data-th-field="*{userId}" readonly="true"/></td>
			</tr>
			<tr>
				<td>UserName</td>
				<td>
				    <input type="text" data-th-value="*{userName}" data-th-field="*{userName}" /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="text" data-th-value="*{password}" data-th-field="*{password}" /></td>		
			</tr>
			<tr>
				<td>Enabled</td> 
				<td><select name="Action" data-th-value="*{enabled}" data-th-field="*{enabled}">
    <option value="1">True</option>
    <option value="0">False</option>
</select></td>					
			</tr>
			<tr>
				<td>User Role</td>
				<td><select name="Action" data-th-value="*{authority}" data-th-field="*{authority}">
    <option value="ROLE_USER">ROLE_USER</option>
    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
</select></td>					
			</tr>
			<tr>
				<td>
					<button type="submit" name="action" value="save">save</button>
				</td>
				<td>
					<button type="submit" name="action" value="cancel" >cancel</button>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
</body>
</html>